* {
    background-color: rgb(0, 0, 0);
}
section {
    position: relative; /* le dice a un elemento que se mueva con respecto a otro elemento. (activa la opcion de top) mas abajo se explica) */
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 70px; /* este estilo se activa con una posicion relativa, indicanto un margen superior*/
    border: 2px solid rgb(0, 0, 0); /* agrega un corde de 2px color blanco en forma de linea */
}

.avatar {
    width: 150px; /* indica el ancho de un elemento */
    height: 150px; /* indica el alto */ 
    border-radius: 50%; /* crea un borde redondo indicado en % , para lograr un circulo */
    display: block; /* Le dice a cada elemento como debe comportarse como bloque o lineal*/
    margin: 0 auto; 
    border: 5px solid rgb(113, 17, 68);
}

.name {
    text-align: center; /* alinea el texto de forma centrada */ 
    font-size: 45px;/* tamaño de la fuente */ 
    color: rgb(226, 19, 143);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.paragraph{
    text-align: center;
    font-size: 20px;
    color: rgb(211, 106, 167);
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.links {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto; /*  Centra un elemento de tipo bloque */
}

a {
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    text-decoration: none; /* Quita la linea del hipervinculo*/
}

.instagram {
    background-color: rgb(251, 144, 105);
}
.instagram:hover {
    background-color: orangered;
    position: relative;
    bottom: 1px;
}

.facebook {
    background-color: rgb(160, 176, 238);
}
.facebook:hover {
    background-color: rgb(38, 78, 237);
    position: relative;
    bottom: 1px;
}

.linkedin {
    background-color: rgb(189, 147, 179);
}
.linkedin:hover{
    background-color: rgb(136, 11, 115);
    position: relative;
    bottom: 1px;
}

.twitter {
    background-color: rgb(131, 218, 137);
}
.twitter:hover{
    background-color: rgb(13, 168, 31);
    position: relative;
    bottom: 1px;
}